@font-face {
    font-family: themify;
    src: url(http://jvmperformance.pl/fonts/themify.eot?-fvbane);
    src: url(http://jvmperformance.pl/fonts/themify.eot?#iefix-fvbane) format('embedded-opentype'), url(http://jvmperformance.pl/fonts/themify.woff?-fvbane) format('woff'), url(http://jvmperformance.pl/fonts/themify.ttf?-fvbane) format('truetype'), url(http://jvmperformance.pl/fonts/themify.svg?-fvbane#themify) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" ti-"],
[class^=ti-] {
    font-family: themify;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ti-settings:before {
    content: "\e60f"
}

.ti-pin:before {
    content: "\e61b"
}

.ti-na:before {
    content: "\e620"
}

.ti-link:before {
    content: "\e62d"
}

.ti-key:before {
    content: "\e631"
}

.ti-image:before {
    content: "\e633"
}

.ti-close:before {
    content: "\e646"
}

.ti-angle-up:before {
    content: "\e648"
}

.ti-angle-right:before {
    content: "\e649"
}

.ti-angle-left:before {
    content: "\e64a"
}

.ti-blackboard:before {
    content: "\e654"
}

.ti-angle-double-up:before {
    content: "\e660"
}

.ti-angle-double-right:before {
    content: "\e661"
}

.ti-angle-double-left:before {
    content: "\e662"
}

.ti-text:before {
    content: "\e672"
}

.ti-mouse:before {
    content: "\e68a"
}

.ti-mouse-alt:before {
    content: "\e68b"
}

.ti-microphone:before {
    content: "\e68d"
}

.ti-menu:before {
    content: "\e68e"
}

.ti-menu-alt:before {
    content: "\e68f"
}

.ti-map:before {
    content: "\e690"
}

.ti-map-alt:before {
    content: "\e691"
}

.ti-location-pin:before {
    content: "\e693"
}

.ti-headphone:before {
    content: "\e69d"
}

.ti-book:before {
    content: "\e6b7"
}

.ti-window:before {
    content: "\e6c9"
}

.ti-widget:before {
    content: "\e6cb"
}

.ti-widget-alt:before {
    content: "\e6cc"
}

.ti-pin2:before {
    content: "\e6dd"
}

.ti-pin-alt:before {
    content: "\e6de"
}

.ti-more:before {
    content: "\e6e1"
}

.ti-more-alt:before {
    content: "\e6e2"
}

.ti-microphone-alt:before {
    content: "\e6e3"
}

.ti-headphone-alt:before {
    content: "\e719"
}

.ti-youtube:before {
    content: "\e728"
}

.ti-twitter:before {
    content: "\e72a"
}

.ti-time:before {
    content: "\e72b"
}

.ti-new-window:before {
    content: "\e732"
}

.ti-google:before {
    content: "\e73e"
}

.ti-github:before {
    content: "\e73f"
}

.ti-facebook:before {
    content: "\e741"
}

.ti-twitter-alt:before {
    content: "\e74b"
}

.ti-html5:before {
    content: "\e758"
}

.ti-email:before {
    content: "\e75a"
}

.ti-css3:before {
    content: "\e75d"
}