@media (min-width:320px) and (max-width:767px) {
    .chooseUs img {
        width: 100%;
        margin: 0 0 30px
    }

    .footer_1 .aboutwidget img {
        max-width: 200px
    }

    .mainmenu {
        padding: 0;
        margin: 0 -15px
    }

    .mainmenu>ul {
        text-align: center;
        display: none;
        position: absolute;
        z-index: 10;
        background: #000;
        left: 0;
        top: -2px;
        padding: 30px 15px 20px;
        height: 300px;
        width: 100%;
        overflow-y: scroll;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .mainmenu ul li {
        display: block;
        padding: 0 0 32px
    }

    .mainmenu ul li a {
        display: inline-block
    }

    .mainmenu ul ul.sub-menu {
        top: 20px;
        display: none;
        width: 100%;
        padding: 0;
        visibility: visible;
        opacity: 1;
        left: auto;
        margin: auto;
        position: relative;
        right: auto;
        text-align: center;
        transform: none;
        z-index: 2;
        transition: none;
        padding: 15px 0 2px
    }

    .mainmenu ul ul.sub-menu:before {
        border-bottom: none;
        border-top: 5px solid rgba(255, 255, 255, .98);
        transition: none
    }

    .mainmenu ul li:hover ul.sub-menu {
        visibility: visible;
        opacity: 1;
        top: 20px
    }

    .header_01 {
        padding-left: 0;
        padding-right: 0
    }

    .navigator {
        padding-top: 0;
        margin-top: -72px
    }

    .close-popup {
        top: 20px;
        right: 15px;
        width: 40px;
        height: 40px
    }

    .close-popup:after,
    .close-popup:before {
        right: 13px;
        top: 19px
    }

    .container.mobileContainer {
        width: 100%
    }

    .logo2 {
        left: 15px;
        top: 20px
    }

    .dl-menu__wrap ul li {
        margin: 5px 0
    }

    .dl-menu__wrap ul li a {
        font-size: 14px
    }

    .footer__contacts {
        text-align: center;
        padding: 0 5px;
        bottom: 55px;
        left: 0;
        right: 0
    }

    .footer__contacts li {
        font-size: 13px;
        margin: 0
    }

    .popUp_social {
        text-align: center;
        text-align: center;
        right: 0;
        left: 0;
        bottom: 15px
    }

    .popUp_social ul li {
        margin-right: 10px
    }

    .popUp_social ul li a {
        font-size: 13px
    }

    .popUp_social ul li a i {
        margin-right: 5px;
        font-size: 14px
    }

    .sec_title {
        font-size: 34px;
        letter-spacing: 1px;
        line-height: 50px
    }

    .sec_title br {
        display: none
    }

    .sec_desc br {
        display: none
    }

    .icon_box_1 {
        margin-bottom: 30px
    }

    .PR_79 {
        padding-right: 15px;
        text-align: center
    }

    .ab_img1 {
        position: relative;
        margin: 50px 0 0
    }

    .ab_img2 {
        position: relative;
        top: 30px
    }

    .ab_img2:after {
        display: none
    }

    .ab_img1 img,
    .ab_img2 img {
        width: 100%
    }

    .videoWrap {
        margin-bottom: 50px
    }

    .play_video a.video_popup {
        width: 45px;
        height: 45px;
        font-size: 15px;
        padding: 0;
        margin-bottom: 15px
    }

    .play_video h2 {
        font-size: 20px;
        letter-spacing: 1px
    }

    .BR {
        border-right: none
    }

    .testimonial_content {
        padding: 0
    }

    .testimonial_content h2 {
        font-size: 36px;
        letter-spacing: 1px;
        line-height: 50px
    }

    .testimonial_content p br {
        display: none
    }

    .footer_1 .aboutwidget {
        padding-right: 0;
        margin-top: 0
    }

    .footer_1 .widget {
        padding-bottom: 40px;
        padding-left: 0
    }

    .footer_1 .contact_widgets p:first-of-type {
        margin-bottom: 15px
    }

    .footer_1 .widget.social_widget {
        padding-bottom: 80px
    }

    .icon_box_2 {
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px
    }

    .features_content {
        padding-right: 0
    }

    .singleFeature:last-child {
        margin-bottom: 56px
    }

    .features_img {
        padding-right: 15px
    }

    .features_img img {
        width: 100%
    }

    .chooseUs_title li {
        width: 100%
    }

    .chooseUs_title li a {
        padding: 32px 0;
        font-size: 18px
    }

    .wh_choose ul li {
        line-height: 20px;
        margin-bottom: 10px
    }

    .btn_link a {
        height: 100px;
        padding: 41px 0;
        font-size: 20px
    }

    .singleClient_2 {
        margin-bottom: 30px
    }

    .agency_img1 {
        margin-top: 45px
    }

    .agency_img2 {
        margin: 30px 0 40px
    }

    .agency_img1:after {
        display: none
    }

    .videoWrap_2 {
        width: 100%;
        position: relative;
        margin-bottom: 30px
    }
}

@media (min-width:768px) and (max-width:990px) {
    .header_01 {
        padding-left: 0;
        padding-right: 0
    }

    .mainmenu ul li {
        padding: 0 12px 53px
    }

    .mainmenu ul li:first-of-type {
        padding-left: 0
    }

    .mainmenu ul li:last-of-type {
        padding-right: 0
    }

    .mainmenu ul li a {
        font-size: 14px
    }

    .footer__contacts {
        padding-left: 10px
    }

    .logo2 {
        left: 20px
    }

    .sec_title {
        font-size: 40px
    }

    .sec_title br {
        display: none
    }

    .icon_box_1,
    .icon_box_2 {
        margin-bottom: 30px
    }

    .icon_box_2 {
        padding-left: 30px;
        padding-right: 30px
    }

    .PR_79 {
        padding-right: 15px
    }

    .MB_45 {
        margin-bottom: 30px
    }

    .ab_img1 {
        position: relative;
        float: right;
        right: -5px
    }

    .ab_img2:after {
        width: 350px;
        left: 15px
    }

    .BR {
        border: none
    }

    .testimonial_content {
        padding: 0
    }

    .testimonial_content h2 {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 1px
    }

    .footer_1 .aboutwidget {
        padding-right: 0
    }

    .footer_1 .contact_widgets {
        padding-left: 0
    }

    .features_content {
        padding-bottom: 50px;
        padding-right: 100px
    }

    .features_img img {
        width: 100%
    }

    .chooseUs_title li a {
        font-size: 16px;
        padding: 40px 0
    }

    .singleClient_2 {
        margin-bottom: 30px
    }

    .btn_link a {
        font-size: 22px;
        height: 120px;
        padding: 51px 0
    }

    .agency_img2 {
        margin-top: -20px;
        margin-right: 180px
    }

    .agency_img1:after {
        width: 380px;
        height: 400px;
        top: 30px;
        right: 30px
    }

    .videoWrap_2 .play_video h2 {
        font-size: 36px
    }

    .videoWrap_2 .play_video a.video_popup {
        width: 80px;
        height: 80px;
        padding: 27px 0;
        font-size: 25px
    }
}

@media (min-width:991px) and (max-width:1199px) {
    .header_01 {
        padding-left: 0;
        padding-right: 0
    }

    .mainmenu ul li:first-of-type {
        padding-left: 0
    }

    .mainmenu ul li:last-of-type {
        padding-right: 0
    }

    .PR_79 {
        padding-right: 15px
    }

    .ab_img2:after {
        width: 100%;
        left: 20px
    }

    .sec_title {
        font-size: 44px
    }

    .testimonial_content {
        padding: 0
    }

    .footer_1 .aboutwidget {
        padding-right: 0
    }

    .footer_1 .contact_widgets {
        padding-left: 0
    }

    .icon_box_2 {
        padding-left: 15px;
        padding-right: 15px
    }

    .features_content {
        padding-right: 0
    }

    .features_img img {
        width: 100%
    }

    .singleFeature {
        margin-bottom: 32px
    }

    .singleClient_2 {
        padding-left: 30px
    }

    .agency_img1:after {
        width: 450px
    }

    .agency_img2 {
        margin-top: -160px;
        margin-right: 140px
    }

    .videoWrap_2 .play_video h2 {
        font-size: 40px
    }
}

@media (min-width:1200px) and (max-width:1600px) {
    .rev_slider .tp-caption.layer_1 {
        top: 30px !important
    }

    .rev_slider .tp-caption.layer_2 {
        font-size: 70px !important;
        line-height: 80px !important
    }

    .rev_slider .tp-caption.layer_3 {
        bottom: 54px !important
    }

    .rev_slider.slider_2 .tp-caption.layer_1,
    .rev_slider.slider_2 .tp-caption.layer_2,
    .rev_slider.slider_2 .tp-caption.layer_3 {
        left: 0 !important
    }

    .rev_slider.slider_2 .tp-caption.layer_1 {
        top: 45px !important
    }

    .rev_slider.slider_2 .tp-caption.layer_3 {
        bottom: 78px !important
    }
}