@font-face {
	font-family: revicons;
	src: url(http://jvmperformance.pl/fonts/revicons/revicons.eot?5510888);
	src: url(http://jvmperformance.pl/fonts/revicons/revicons.eot?5510888#iefix) format('embedded-opentype'), url(http://jvmperformance.pl/fonts/revicons/revicons.woff?5510888) format('woff'), url(http://jvmperformance.pl/fonts/revicons/revicons.ttf?5510888) format('truetype'), url(http://jvmperformance.pl/fonts/revicons/revicons.svg?5510888#revicons) format('svg');
	font-weight: 400;
	font-style: normal
}

[class*=" revicon-"]:before,
[class^=revicon-]:before {
	font-family: revicons;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em
}

.rev_slider_wrapper {
	position: relative;
	z-index: 0;
	width: 100%
}

.rev_slider {
	position: relative;
	overflow: visible
}

.rev_slider a {
	box-shadow: none
}

.rev_slider img {
	max-width: none !important;
	transition: none;
	margin: 0;
	padding: 0;
	border: none
}

.rev_slider>ul,
.rev_slider>ul>li,
.rev_slider>ul>li:before,
.rev_slider_wrapper>ul {
	list-style: none !important;
	position: absolute;
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: visible;
	overflow-y: visible;
	list-style-type: none !important;
	background-image: none;
	background-position: 0 0;
	text-indent: 0;
	top: 0;
	left: 0
}

.rev_slider>ul>li,
.rev_slider>ul>li:before {
	visibility: hidden
}

.rev_slider .caption,
.rev_slider .tp-caption {
	position: relative;
	visibility: hidden;
	white-space: nowrap;
	display: block;
	-webkit-font-smoothing: antialiased !important;
	z-index: 1
}

.rev_slider .caption,
.rev_slider .tp-caption {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none
}

.tp-svg-layer svg {
	width: 100%;
	height: 100%;
	position: relative;
	vertical-align: top
}

.tp-carousel-wrapper {
	cursor: url(http://jvmperformance.pl/css/openhand.cur), move
}

.tp-caption.tp-hidden-caption {
	visibility: hidden !important;
	display: none !important
}

.rev_slider video {
	max-width: none !important
}

.rev_slider .tp-caption.rev_row {
	display: table;
	position: relative;
	width: 100% !important;
	table-layout: fixed;
	box-sizing: border-box;
	vertical-align: top;
	height: auto !important;
	font-size: 0
}

.rev-btn,
.rev-btn:visited {
	outline: 0 !important;
	box-shadow: none !important;
	text-decoration: none !important;
	line-height: 44px;
	font-size: 17px;
	font-weight: 500;
	padding: 12px 35px;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	cursor: pointer
}

@keyframes rev-ani-mouse {
	0% {
		opacity: 1;
		top: 29%
	}

	15% {
		opacity: 1;
		top: 50%
	}

	50% {
		opacity: 0;
		top: 50%
	}

	100% {
		opacity: 0;
		top: 29%
	}
}

.tp-caption img {
	background: 0 0;
	zoom: 1
}

@keyframes tp-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0) rotateY(0)
	}

	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0)
	}

	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
	}
}

@keyframes tp-scaleout {
	0% {
		transform: scale(0)
	}

	100% {
		transform: scale(1);
		opacity: 0
	}
}

@keyframes tp-bouncedelay {

	0%,
	100%,
	80% {
		transform: scale(0)
	}

	40% {
		transform: scale(1)
	}
}

@keyframes tp-rotate {
	100% {
		transform: rotate(360deg)
	}
}

@keyframes tp-bounce {

	0%,
	100% {
		transform: scale(0)
	}

	50% {
		transform: scale(1)
	}
}

._1977 {
	filter: contrast(1.1) brightness(1.1) saturate(1.3)
}

._1977:after {
	background: rgba(243, 106, 188, .3);
	mix-blend-mode: screen
}

._1977:after,
._1977:before {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	pointer-events: none
}

._1977 {
	position: relative
}

._1977 img {
	width: 100%;
	z-index: 1
}

._1977:before {
	z-index: 2
}

._1977:after {
	z-index: 3
}