.header_01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    background: 0 0;
    padding: 20px 40px;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    padding: 20px !important
}

.header_02 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    background: 0 0;
    padding: 20px 40px;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    background-color: #000
}

.fixedHeader {
    background: #000;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    border: none;
    box-shadow: 0 2px 5px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 5%);
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipInX;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.logo {
    text-align: left
}

.logo img {
    max-width: 100%;
    height: auto
}

.mainmenu {
    position: relative
}

.mainmenu ul {
    margin: 0;
    padding: 0
}

.mainmenu ul li {
    list-style: none;
    display: inline-block;
    line-height: .8;
    padding: 0 20px 0;
    position: relative
}

.mainmenu ul li a {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: .8;
    text-transform: uppercase;
    position: relative
}

.mainmenu ul li a:after {
    position: absolute;
    width: 0;
    height: 1px;
    content: '';
    background: #fff;
    left: 0;
    right: 0;
    bottom: -5px;
    -moz-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out
}

.mainmenu ul li a:hover {
    color: #fff
}

.mainmenu ul li a:hover:after {
    width: 100%
}

.mainmenu ul ul.sub-menu {
    background: #000;
    width: 200px;
    z-index: 9;
    text-align: center;
    padding: 25px 30px 13px;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100px;
    transform: translateX(-50%);
    z-index: 2
}

.mainmenu ul ul.sub-menu:before {
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    z-index: 10
}

.mainmenu ul li:hover ul.sub-menu {
    visibility: visible;
    opacity: 1;
    top: 66px
}

.mainmenu ul ul.sub-menu li {
    margin: 0;
    padding: 0 0 13px;
    display: block
}

.mainmenu ul ul.sub-menu li a {
    font-size: 14px;
    line-height: 1.5;
    display: inline-block
}

.mainmenu ul ul.sub-menu li a:after {
    bottom: 0
}

.navigator {
    position: relative;
    padding: 6px 0 37px
}

.navigator a {
    display: inline-block;
    color: #fff;
    line-height: .8;
    font-size: 25px;
    margin: 0
}

.navigator a:hover {
    color: #e94e1b
}

.rev_slider {
    position: relative
}

.rev_slider .common_btn {
    padding: 28px 45.5px !important
}

.service_section {
    background: url(http://jvmperformance.pl/images/bg/1.jpg) no-repeat center center/cover
}

.icon_box_1 {
    display: inline-block;
    position: relative;
    width: 100%;
    background: 0 0;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s
}

.centerit {
    text-align: center
}

.PR_79 {
    padding-right: 79px
}

.MB_45 {
    margin-bottom: 45px
}

.ab_img1 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.ab_img1 img {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: -2px 4px 30px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: -2px 4px 30px 0 rgba(0, 0, 0, .3);
    box-shadow: -2px 4px 30px 0 rgba(0, 0, 0, .3)
}

.ab_img2 {
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 2
}

.ab_img2:after {
    position: absolute;
    top: -40px;
    left: 40px;
    content: '';
    border: 10px solid #e94e1b;
    width: 470px;
    height: 458px
}

.ab_img2 img {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: -2px 4px 35px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: -2px 4px 35px 0 rgba(0, 0, 0, .3);
    box-shadow: -2px 4px 35px 0 rgba(0, 0, 0, .3)
}

.what_wedo {
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 72px
}

.what_wedo:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    content: '';
    background: #f4f4f4
}

.videoWrap {
    position: relative;
    margin-bottom: 100px
}

.videoWrap img {
    width: 100%;
    height: auto
}

.play_video {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2
}

.play_video a.video_popup {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 0;
    position: relative;
    background: #e94e1b;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    padding: 0;
    margin-bottom: 0
}

.play_video a.video_popup:hover {
    background: #000;
    color: #fff
}

.play_video h2 {
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0 00;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 1)
}

.BR {
    border-right: 1px solid #1a1a1a
}

.client {
    background: #f4f4f4
}

.singleClient {
    position: relative;
    width: 100%;
    height: 208px;
    margin-bottom: 30px;
    background: #fff;
    text-align: center;
    transition: all ease .5s;
    -moz-transition: all ease .5s;
    -webkit-transition: all ease .5s
}

.singleClient a {
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block
}

.singleClient a img {
    max-width: 119px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: .4;
    display: inline-block !important;
    transition: all ease .5s;
    -moz-transition: all ease .5s;
    -webkit-transition: all ease .5s
}

.singleClient:after {
    width: 4px;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: '';
    background: #e94e1b;
    visibility: hidden;
    opacity: 0;
    transition: all ease .5s;
    -moz-transition: all ease .5s;
    -webkit-transition: all ease .5s
}

.singleClient:hover:after {
    visibility: visible;
    opacity: 1;
    height: 100%
}

.singleClient:hover a img {
    opacity: 1
}

.singleClient:hover {
    -webkit-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, .05)
}

.singleClient_2 {
    position: relative;
    overflow: hidden;
    background: #fff;
    border: none;
    padding: 40px 15px 46px 50px;
    width: 100%;
    transition: all ease .5s;
    -moz-transition: all ease .5s;
    -webkit-transition: all ease .5s
}

.singleClient_2:after {
    width: 4px;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: '';
    background: #e94e1b;
    visibility: hidden;
    opacity: 0;
    transition: all ease .5s;
    -moz-transition: all ease .5s;
    -webkit-transition: all ease .5s
}

.singleClient_2:hover:after {
    visibility: visible;
    opacity: 1;
    height: 100%
}

.singleClient_2:hover {
    -webkit-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, .05)
}

.singleClient_2 h3 {
    text-transform: uppercase;
    color: #e94e1b;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: .8px;
    margin: 0 0 30px
}

.singleClient_2 p {
    line-height: 30px;
    margin: 0
}

.testimonial {
    background: url(http://jvmperformance.pl/images/3.120eafd34ad5791c684ceb5f0811b8a9.jpg) no-repeat fixed center/cover;
    padding-bottom: 113px
}

.testimonial_content {
    position: relative;
    text-align: center;
    padding: 0 65px
}

.testimonial_content h2 {
    font-size: 39px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 44px
}

.testimonial_content h2 span {
    color: #e94e1b
}

.testimonial_content p {
    font-size: 20px;
    color: #fff;
    letter-spacing: .8px;
    margin: 0
}

.footer_1 {
    position: relative;
    padding: 60px 0 0;
    background: url(http://jvmperformance.pl/images/bg/5.jpg) no-repeat center center/cover
}

.footer_1 .widget {
    position: relative;
    padding: 0 0 112px
}

.footer_1 .widget .widget_title {
    font-size: 18px;
    letter-spacing: .72px;
    color: #fff;
    line-height: .8;
    margin: 0 0 43px;
    position: relative;
    text-transform: uppercase
}

.footer_1 .aboutwidget {
    padding-right: 110px;
    margin-top: -8px
}

.footer_1 .aboutwidget img {
    max-width: 100%;
    height: auto;
    margin-bottom: 34px
}

.footer_1 .aboutwidget p {
    font-size: 14px;
    letter-spacing: .56px;
    color: #aaa;
    margin: 0
}

.footer_1 .contact_widgets {
    padding-left: 60px
}

.footer_1 .contact_widgets p {
    font-size: 14px;
    letter-spacing: .56px;
    color: #aaa;
    margin: 0
}

.footer_1 .contact_widgets p a,
.footer_1 .copyright a {
    color: #aaa
}

.footer_1 .contact_widgets p a:hover,
.footer_1 .copyright a:hover {
    color: #e94e1b
}

.footer_1 .contact_widgets p:first-of-type {
    margin-bottom: 32px
}

.footer_1 .social_widget ul {
    margin: 0;
    padding: 0
}

.footer_1 .social_widget ul li {
    padding: 0;
    margin: 0 0 0;
    list-style: none;
    display: block
}

.footer_1 .social_widget ul li a {
    font-size: 14px;
    letter-spacing: .56px;
    color: #aaa;
    margin: 0;
    display: block;
    text-align: left
}

.footer_1 .social_widget ul li a i {
    font-size: 16px;
    color: #fff;
    margin-right: 12px
}

.footer_1 .social_widget ul li a:hover {
    color: #fff
}

.footer_1 .copyright {
    border-top: 1px solid #1a1a1a;
    font-size: 14px;
    line-height: .8;
    color: #aaa;
    text-transform: uppercase;
    padding: 41px 0
}

.icon_box_2 {
    position: relative;
    width: 100%;
    background: #fff;
    border: 2px solid #f4f4f4;
    padding: 50px 65px 50px;
    transition: all ease .5s;
    -moz-transition: all ease .5s;
    -webkit-transition: all ease .5s
}

.icon_box_2:after {
    width: 4px;
    height: 0;
    position: absolute;
    content: '';
    right: -1px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: '';
    background: #e94e1b;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: all ease .5s;
    -moz-transition: all ease .5s;
    -webkit-transition: all ease .5s
}

.icon_box_2 h3 {
    font-size: 20px;
    letter-spacing: .8px;
    color: #000;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0 0 35px
}

.icon_box_2 p {
    margin: 0 0 31px
}

.icon_box_2 .iconWrap {
    position: relative;
    margin: 0 0 44px
}

.icon_box_2 .iconWrap:after {
    background: url(http://jvmperformance.pl/images/shadow.png) no-repeat center center/cover;
    height: 7px;
    width: 75px;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -17px;
    margin: 0 auto;
    z-index: 2
}

.icon_box_2 .iconWrap i {
    font-size: 64px;
    font-style: normal;
    color: #e94e1b;
    display: inline-block;
    margin: 0 0 0
}

.icon_box_2 a {
    display: inline-block;
    letter-spacing: 1.2px;
    line-height: .8;
    margin: 0;
    color: #e94e1b
}

.icon_box_2 a:hover {
    color: #e94e1b
}

.icon_box_2:hover {
    -webkit-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, .05);
    border-color: transparent
}

.icon_box_2:hover:after {
    visibility: visible;
    opacity: 1;
    height: 101%
}

.featured {
    background: #f4f4f4;
    overflow: hidden
}

.features_content {
    padding-right: 30px
}

.singleFeature {
    position: relative;
    padding-left: 70px;
    margin-bottom: 56px
}

.singleFeature:last-child {
    margin-bottom: 0
}

.singleFeature:after {
    position: absolute;
    left: 24px;
    top: 58px;
    content: '';
    width: 2px;
    height: 95px;
    background: #000
}

.singleFeature:last-child:after {
    display: none
}

.singleFeature .f_count {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    padding: 18px 0;
    width: 50px;
    height: 48px;
    line-height: .8;
    background: #e94e1b
}

.singleFeature h3 {
    font-size: 18px;
    line-height: .8;
    letter-spacing: .72px;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 29px
}

.singleFeature p {
    margin: 0
}

.features_img {
    position: relative
}

.testimonial_2 {
    background: url(http://jvmperformance.pl/images/bg/7.jpg) no-repeat center center/cover
}

.ab_agency {
    padding-bottom: 0
}

.chooseUs img {
    width: 100%;
    height: auto
}

.chooseUs_title {
    margin: 0;
    padding: 0
}

.chooseUs_title li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 33.33333333%;
    display: inline-block;
    position: relative;
    float: left
}

.chooseUs_title li a {
    display: block;
    font-size: 20px;
    line-height: .8;
    color: #000;
    letter-spacing: .8px;
    background: #f4f4f4;
    padding: 49px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase
}

.chooseUs_title li:hover a {
    background: #000;
    color: #fff
}

.chose_img {
    position: relative;
    margin: 60px 0 0
}

.chose_img img {
    width: 100%;
    height: auto
}

.wh_choose {
    position: relative;
    margin: 51px 0 0
}

.wh_choose p {
    margin: 0 0 25px
}

.wh_choose ul {
    margin: 0;
    padding: 0
}

.wh_choose ul li {
    display: block;
    line-height: 36px
}

.wh_choose ul li i {
    font-size: 14px;
    color: #e94e1b;
    line-height: 32px;
    margin-right: 15px
}

.what_wedo_2 {
    background: #f4f4f4
}

.btn_link {
    position: relative;
    width: 100%;
    line-height: .8
}

.btn_link a {
    display: inline-block;
    width: 100%;
    height: 143px;
    line-height: .8;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: #fff;
    letter-spacing: .96px;
    background: #e94e1b;
    padding: 61px 0
}

.btn_link a:hover {
    background: #000;
    color: #fff
}

.agency_img1 {
    position: relative;
    text-align: right
}

.agency_img1:after {
    position: absolute;
    right: 60px;
    top: 60px;
    border: 10px solid #e94e1b;
    height: 464px;
    width: 530px;
    content: '';
    z-index: 6
}

.agency_img2 {
    position: relative;
    text-align: left;
    z-index: 4;
    margin-top: -184px
}

.agency_img1 img,
.agency_img2 img {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: -2px 4px 35px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: -2px 4px 35px 0 rgba(0, 0, 0, .3);
    box-shadow: -2px 4px 35px 0 rgba(0, 0, 0, .3)
}

.videoWrap_2 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 50%;
    z-index: 10
}

.videoWrap_2 .play_video h2 {
    color: #fff
}

.videoWrap_2 img {
    width: 100%;
    height: 100%
}

.custom {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden
}

.popup {
    background: rgba(17, 17, 17, .98);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all .6s 0s cubic-bezier(.7, 0, .3, 1);
    width: 100%;
    z-index: 1000
}

.close-popup {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #fff;
    font-weight: 600;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 30px;
    top: 30px;
    text-transform: uppercase;
    transition: all .5s cubic-bezier(.7, 0, .3, 1);
    -moz-transition: all .5s cubic-bezier(.7, 0, .3, 1);
    z-index: 99
}

.close-popup:after {
    width: 15px;
    height: 1px;
    background: #000;
    position: absolute;
    right: 17.5px;
    top: 24px;
    content: '';
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s
}

.close-popup:before {
    width: 15px;
    height: 1px;
    background: #000;
    position: absolute;
    right: 17.5px;
    top: 24px;
    content: '';
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s
}

.close-popup:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, .2);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, .2)
}

.close-popup:hover:after,
.close-popup:hover:before {
    background: #e94e1b
}

.logo2 {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 30px
}

.footer__contacts {
    position: absolute;
    left: 0;
    bottom: 40px;
    margin: 0;
    padding-left: 0
}

.popUp_social {
    position: absolute;
    right: 0;
    bottom: 34px;
    padding: 0
}

.popUp_social ul {
    margin: 0;
    padding: 0
}

.popUp_social ul li {
    padding: 0;
    margin: 0 20px 0 0;
    list-style: none;
    display: inline-block
}

.popUp_social ul li:last-of-type {
    margin-right: 0
}

.popUp_social ul li a {
    font-size: 14px;
    letter-spacing: .56px;
    color: #aaa;
    margin: 0;
    display: block;
    text-align: left
}

.popUp_social ul li a i {
    font-size: 16px;
    color: #fff;
    margin-right: 10px
}

.popUp_social ul li a:hover {
    color: #fff
}

.footer__contacts li {
    list-style: none;
    display: block;
    font-size: 16px;
    color: #818181;
    line-height: 22px;
    margin: 0 0 7px
}

.footer__contacts li:last-child {
    margin-bottom: 0
}

.popup__btn-close {
    background-color: transparent;
    border: 0;
    letter-spacing: .3rem;
    opacity: 1;
    position: absolute;
    right: 30px;
    top: 30px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .6s 0s cubic-bezier(.7, 0, .3, 1);
    z-index: 1
}

.popup__btn-close:hover {
    opacity: .5
}

.popup-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transform: translateY(-100%);
    transition: all .6s 1s cubic-bezier(.7, 0, .3, 1);
    width: 100%
}

.show-popup .popup-inner,
.show-overlay-nav .popup-inner {
    transform: translateY(0);
}

.show-popup .popup.popup-overlay,
.show-overlay-nav .popup.popup__menu {
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: visible;
    transform: translateY(0);
}

.show-popup,
.show-overlay-nav {
    overflow: hidden;
}

.popup.popup__menu {
    background-image: url(http://jvmperformance.pl/images/line-maker.svg);
    background-repeat: repeat;
    background-position: center center;
    padding: 0
}

.popup.popup__menu .popup-inner {
    display: flex
}

.show-overlay-nav .popup.popup__menu.popup__menu {
    box-shadow: none;
    overflow: hidden;
}

.show-overlay-nav .top {
    background-color: transparent;
    box-shadow: none;
}

.dl-menu__wrap {
    height: auto;
    position: relative;
    perspective: 600px;
    perspective-origin: 50% -200%;
    text-align: center;
    transition: all .6s 0s cubic-bezier(.7, 0, .3, 1);
    width: 100%
}

.dl-menu__wrap ul {
    list-style: none;
    padding: 0;
    transform-style: preserve-3d
}

.dl-menu__wrap ul li {
    margin: 13px 0;
    position: relative;
    display: block
}

.dl-menu__wrap ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: .8;
    letter-spacing: 1px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    transition: all .6s cubic-bezier(.7, 0, .3, 1)
}

.dl-menu__wrap ul li a::after {
    position: absolute;
    width: 0;
    height: 1px;
    content: '';
    background: #fff;
    left: 0;
    right: 0;
    bottom: -5px;
    -webkit-transition: all .6s 0s cubic-bezier(.7, 0, .3, 1);
    -moz-transition: all .6s 0s cubic-bezier(.7, 0, .3, 1);
    transition: all .6s 0s cubic-bezier(.7, 0, .3, 1);
    z-index: -1
}

.dl-menu__wrap ul li a:hover::after {
    width: 100%
}

.dl-menu__wrap .dl-menu {
    margin: 0;
    pointer-events: none;
    transform: translateY(10px);
    backface-visibility: hidden;
    width: 100%
}

.dl-menu__wrap .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0)
}

.dl-menu__wrap .dl-menu.dl-animate-in-3 {
    -webkit-animation: MenuAnimIn3 .4s ease;
    animation: MenuAnimIn3 .4s ease
}

@keyframes MenuAnimOut3 {
    100% {
        transform: translateZ(300px);
        opacity: 0
    }
}

@keyframes MenuAnimIn3 {
    0% {
        transform: translateZ(300px);
        opacity: 0
    }

    100% {
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes SubMenuAnimIn3 {
    0% {
        transform: translateZ(-300px);
        opacity: 0
    }

    100% {
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes SubMenuAnimOut3 {
    0% {
        transform: translateZ(0);
        opacity: 1
    }

    100% {
        transform: translateZ(-300px);
        opacity: 0
    }
}

@-webkit-keyframes ball-circus-position {
    50% {
        left: 100%
    }
}

@-moz-keyframes ball-circus-position {
    50% {
        left: 100%
    }
}

@-o-keyframes ball-circus-position {
    50% {
        left: 100%
    }
}

@keyframes ball-circus-position {
    50% {
        left: 100%
    }
}

@-webkit-keyframes ball-circus-size {
    50% {
        -webkit-transform: scale(.3, .3);
        transform: scale(.3, .3)
    }
}

@-moz-keyframes ball-circus-size {
    50% {
        -moz-transform: scale(.3, .3);
        transform: scale(.3, .3)
    }
}

@-o-keyframes ball-circus-size {
    50% {
        -o-transform: scale(.3, .3);
        transform: scale(.3, .3)
    }
}

@keyframes ball-circus-size {
    50% {
        -webkit-transform: scale(.3, .3);
        -moz-transform: scale(.3, .3);
        -o-transform: scale(.3, .3);
        transform: scale(.3, .3)
    }
}

.color_settings {
    position: fixed;
    backface-visibility: hidden;
    left: -240px;
    top: 25%;
    width: 240px;
    box-sizing: border-box;
    padding: 25px 20px 20px;
    z-index: 1000;
    background: #fff;
    box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
    -webkit-transition: left .3s ease-in-out;
    -moz-transition: left .3s ease-in-out;
    -ms-transition: left .3s ease-in-out;
    -o-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out
}

.color_settings .color_preset h4 {
    text-align: center;
    font-size: 14px;
    color: #000;
    line-height: .8;
    font-weight: 500;
    text-transform: uppercase;
    padding: 9px 0;
    margin: 0 0 7px;
    border: 2px solid #f5f6fa
}

.logo img {
    width: 210px
}

.header_01 .row {
    align-items: center;
    display: flex
}

.chooseUs .row-center {
    align-items: center;
    display: flex;
    flex-wrap: wrap
}

@media (min-width:768px) {
    .hamburger {
        display: none
    }
}

.hamburger {
    position: absolute;
    right: 0;
    top: 50px
}

@media (max-width:992px) {
    .mainmenu ul li {
        padding: 0 20px 0 0 !important
    }
}

@media (max-width:768px) {
    .logo img {
        width: 160px;
        margin-left: -15px
    }
}

.tablepadding {
    padding-left: 10%;
    padding-right: 10%;
}